# Exclude virtual environments and local secrets
venv/
.env
.git/
.DS_Store
cannabis_papers.db

# Exclude python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclude local SSL certs
cert.pem
com.cloudflare.cloudflared.plist
